<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/css/calendar.css"/> <!-- CSS 파일을 연결 -->
    
<!-- jQuery UI CSS 툴팁용-->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<!-- jQuery UI JS 툴팁용 -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <!-- 네비게이션 바 -->
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Menu 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
               	<a th:href="@{/exhibit}" id="exhibitButton">전시</a>
				<a th:href="@{/performance}" id="performanceButton">공연</a>
				<a th:href="@{/education}" id="educationButton">교육</a>
            </div>
        </div> 
    </div>

    <!-- 캘린더 및 전시회 정보 영역 -->
    <div id="content">
        <div id="calendar"></div>
        <div id="eventList" class="slick-slider">
            <!-- 전시회 리스트는 초기 화면 로딩 시 서버에서 받아와 동적으로 추가됩니다 -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
    <script src="/js/calendar.js"></script> <!-- 분리된 JS 파일을 연결 -->
</body>
</html>
