<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title><script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="./css/fleaUpdateDel.css" rel="stylesheet">
</head>
<body>
    <div id="update">
        <button @click="cancel()">취소</button>
        <form @submit.prevent="update" method="post" enctype="multipart/form-data">
            <span>
                제목 : 
                <input type="text" name="mTitle" v-model="datas.mtitle"/></br>
            </span>
            <span>
                가격 :
                <input type="text" name="mPrice" v-model="datas.mprice"></br>
            </span>
            <span>
                설명 :
                <input type="textarea" name="mCont" v-model="datas.mcont"></br>
            </span>
            <span>
                <!-- 카테고리 -->
                <select name="category" v-model="datas.mcategory">
                    <option>전체</option>
                    <option>베이비의류(0-2세)</option>
                    <option>여아의류(3-6세)</option>
                    <option>남아의류(3-6세)</option>
                    <option>여아 주니어의류(7세 -)</option>
                    <option>남아 주니어의류(7세 -)</option>
                    <option>신발/가방/잡화</option>
                    <option>유아용품</option>
                    <option>일부의류/용품</option>
                    <option>교구/완구/인형</option>
                    <option>수유/이유용품</option>
                </select>
            </br>
            </span>
            <span>
                첨부파일 :
                <input type="file" name="file"></br>
            </span>
            <input type="submit" value="업로드">
        </form>
    </div>
    <script src="./script/fleaUpdateDel.js"></script>
</body>
</html>