<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link href="./css/fleaCreate.css" rel="stylesheet">
</head>
<body>
    <div id="create">
        <form @submit.prevent="fleamarketInput" method="post" enctype="multipart/form-data">
            <span>
                <sup>*</sup>
                <label for="mTitle">제목 :</label>
                <input type="text" v-model="mTitle" name="mTitle" id="mTitle"/>
                <span v-if="errors.mTitle" class="error">{{ errors.mTitle }}</span></br>
            </span>
            <span>
                <sup>*</sup>
                <label for="mPrice">가격 :</label>
                <input type="text" v-model="mPrice" name="mPrice" id="mPrice"/>
                <span v-if="errors.mPrice" class="error">{{ errors.mPrice }}</span></br>
            </span>
            <span>
                <sup>*</sup>
                <label for="mCont">설명 :</label>
                <textarea v-model="mCont" name="mCont" id="mCont"></textarea>
                <span v-if="errors.mCont" class="error">{{ errors.mCont }}</span></br>
            </span>
            <span>
                <!-- 카테고리 -->
                <select v-model="mCategory" name="mCategory">
                    <option value="전체">전체</option>
                    <option value="베이비의류(0-2세)">베이비의류(0-2세)</option>
                    <option value="여아의류(3-6세)">여아의류(3-6세)</option>
                    <option value="남아의류(3-6세)">남아의류(3-6세)</option>
                    <option value="여아 주니어의류(7세 -)">여아 주니어의류(7세 -)</option>
                    <option value="남아 주니어의류(7세 -)">남아 주니어의류(7세 -)</option>
                    <option value="신발/가방/잡화">신발/가방/잡화</option>
                    <option value="유아용품">유아용품</option>
                    <option value="일부의류/용품">일부의류/용품</option>
                    <option value="교구/완구/인형">교구/완구/인형</option>
                    <option value="수유/이유용품">수유/이유용품</option>
                </select>
                <span v-if="errors.mCategory" class="error">{{ errors.mCategory }}</span></br>
            </span>
            <span>
                <sup>*</sup>
                <input type="file" name="mfilePath" id="file" @change="handleFileUpload">
                <span v-if="errors.filePath" class="error">{{ errors.filePath }}</span>
            </span>
            
            <input type="submit" value="업로드">
            <span>
                <input type="button" value="돌아가기" @click="back">
            </span>
        </form>
    </div>
    <script src="./script/flesCreate.js"></script>
</body>
</html>
