<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link href="./css/fleaCreate.css" rel="stylesheet">
</head>
<body>
    <div id="create">
        <form @submit.prevent="fleamarketInput" method="post" enctype="multipart/form-data">
            <span>
                <sup>*</sup>
                <label for="title">제목 :</label>
                <input type="text" v-model="title" name="title" id="title"/>
                <span v-if="errors.Title" class="error">{{ errors.title }}</span></br>
            </span>
            <span>
                <sup>*</sup>
                <label for="price">가격 :</label>
                <input type="text" v-model="price" name="price" id="rice"/>
                <span v-if="errors.Price" class="error">{{ errors.price }}</span></br>
            </span>
            <span>
                <sup>*</sup>
                <label for="contents">설명 :</label>
                <textarea v-model="contents" name="contents" id="contents"></textarea>
                <span v-if="errors.contents" class="error">{{ errors.contents }}</span></br>
            </span>
            <span>
                <!-- 카테고리 -->
                <select v-model="category" name="category">
                    <option value="전체">전체</option>
                    <option value="베이비의류(0-2세)">베이비의류(0-2세)</option>
                    <option value="여아의류(3-6세)">여아의류(3-6세)</option>
                    <option value="남아의류(3-6세)">남아의류(3-6세)</option>
                    <option value="여아 주니어의류(7세 -)">여아 주니어의류(7세 -)</option>
                    <option value="남아 주니어의류(7세 -)">남아 주니어의류(7세 -)</option>
                    <option value="신발/가방/잡화">신발/가방/잡화</option>
                    <option value="유아용품">유아용품</option>
                    <option value="일부의류/용품">일부의류/용품</option>
                    <option value="교구/완구/인형">교구/완구/인형</option>
                    <option value="수유/이유용품">수유/이유용품</option>
                </select>
                <span v-if="errors.category" class="error">{{ errors.category }}</span></br>
            </span>
            <span>
                <sup>*</sup>
                <input type="file" name="filePath" id="filePath" @change="handleFileUpload">
                <span v-if="errors.filePath" class="error">{{ errors.filePath }}</span>
            </span>
            
            <input type="submit" value="업로드">
            <span>
                <input type="button" value="돌아가기" @click="back">
            </span>
        </form>
    </div>
    <script src="./js/flesCreate.js"></script>
</body>
</html>
